<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <appSettings>
    <add key="ConnString" value="Data Source=(DESCRIPTION=(ADDRESS_LIST=(ADDRESS=(PROTOCOL=TCP)(HOST=192.168.1.48)(PORT=1521)))(CONNECT_DATA=(SERVER=DEDICATED)(sid=cp2)));User Id=cybosplus;Password=miji1212;"/>
    <add key="ETRADE_DEMO" value="demo.etrade.co.kr"/>
    <add key="ETRADE_REAL" value="hts.etrade.co.kr"/>
    <add key="LogDir" value="C:\Log"/>
  </appSettings>
</configuration>
